$primary: #6979f8;
$primary-hover: #a5affb;
$secondary: #be52f2;
$secondary-hover: #dba5f5;
$success: #00c48c;
$success-hover: #7ddfc3;
$info: #0084f4;
$info-hover: #55b5f8;
$warning: #ffa26b;
$warning-hover: #ffc7a6;
$danger: #ff647c;
$danger-hover: #fdafbb;

* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  margin: 0;
}

a {
  color: $primary;
  text-decoration: none;
}
